/HTTPMediaPlayer/bin
/HTTPMediaPlayer/obj
/HTTPMediaPlayerCore/bin
/HTTPMediaPlayerCore/obj
/RobokassaLib/bin
/RobokassaLib/obj
/RobokassaLibCore/bin
/RobokassaLibCore/obj
/HTTPMediaPlayer/.vs/HTTPMediaPlayer/v14/.suo
/packages
