

<div class="page-header header-filter header-small" filter-color="purple" data-parallax="true" style="background-image: url('../../img/duways_header.png')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="white-text-with-brown-shadow"><b>ТЕРРИТОРИЯ ОНЛАЙН МАСТЕРСКИХ</b></h2>
                @*<h4 class="white-text-with-brown-shadow"> Образовательная платформа для авторов и слушателей онлайн видео курсов</h4>*@
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-7 ml-auto mr-auto text-center">
                <button class="btn btn-rose btn-lg" data-toggle="modal" data-target="#loginModal">
                    Cтать автором и начать зарабатывать
                </button>
            </div>
        </div>*@
    </div>
</div>



<div class="main main-raised">
    <div class="container">
        <div class="section">

            <!--collapse -->
            <div id="collapse">
                <div class="title">
                    <h3>FAQ</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="accordion" role="tablist">
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Нужна ли мне консультация и менторство, чтобы разместиться на Территории Онлайн Мастерских, если мой инфопродукт уже готов?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        Нет, вам достаточно заполнить заявку на размещение "Стать автором и начать зарабатывать" - мы свяжемся с вами, оформим для вас страницу автора и разместим ваш продукт.
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingTwo">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Вы размещаете любые курсы?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-body">
                                        Наша цель - создание ценного обучающего портала, мы берем на себя ответственность за содержание и качество размещаемых материалов, поэтому рассматриваем каждый инфопродукт отдельно и оставляем за собой право окончательного решения по размещению.
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="headingThree">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            Какой продукт вы не станете размещать? Что нужно учитывать?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="card-body">
                                        На платформе не будет продуктов с заведомо ложной информацией, призывами к насилию, экстремизму, изображений обнаженных тел, продуктов, содержащих плагиат,  нарушающих авторское право других людей, а также мы рекомендуем переснять материалы плохого качества в плане звука и картинки.
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="heading4">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                            Есть ли требования к объемам и типам контента?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse4" class="collapse" role="tabpanel" aria-labelledby="heading4" data-parent="#accordion">
                                    <div class="card-body">
                                        Нет, но наша техническая команда всегда посоветует вам, как оптимально сжать материалы и какой тип контента будет удобнее для ваших слушателей
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="heading5">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                            Что такое "базовое продвижение"?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordion">
                                    <div class="card-body">
                                        Базовое - в рамках продвижения собственно платформы. У нас есть ежемесячный бюджет на продвижение Территории Онлайн Мастерских - и наши мастера в нем участвуют тоже
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="heading6">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                            Как меня смогут найти в списке других мастеров мои клиенты на общем сайте?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordion">
                                    <div class="card-body">
                                        У вас будет отдельная авторская страница с короткой ссылкой, с вашим названием, именем, личным описанием и фотографией, с полным перечнем ваших инфопродуктов
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="heading7">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                            Сколько стоит размещение на платформе?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse7" class="collapse" role="tabpanel" aria-labelledby="heading7" data-parent="#accordion">
                                    <div class="card-body">
                                        Стоимость услуг платформы - только место на диске и нагрузка по количеству пользователей, от 500 рублей в месяц (в зависимости от размера и типа размещаемых материалов). В эту стоимость также входит базовое продвижение.
                                    </div>
                                </div>
                            </div>
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="heading8">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                            Обязательно ли профессионально на студии записывать видео-курсы?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse8" class="collapse" role="tabpanel" aria-labelledby="heading8" data-parent="#accordion">
                                    <div class="card-body">
                                        Нет, вы можете писать видео на телефон или камеру. Убедитесь, что картинка достаточно хороша в плане освещения и звук нормального качества. Этого достаточно.
                                    </div>
                                </div>
                            </div> 
                            <div class="card card-collapse">
                                <div class="card-header" role="tab" id="heading9">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                            Если мне не нужна консультация полноценная, а есть вопросы организационного характера, как я могу их задать?
                                            <i class="material-icons">keyboard_arrow_down</i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse9" class="collapse" role="tabpanel" aria-labelledby="heading9" data-parent="#accordion">
                                    <div class="card-body">
                                        Через форму обратной связи или написав на почту <a href="mailto:anchekolla@gmail.com">anchekolla@gmail.com</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end collapse -->
        </div>
    </div>
</div>