

<div class="page-header header-filter header-small" filter-color="purple" data-parallax="true" style="background-image: url('../../img/duways_header.png')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="white-text-with-brown-shadow"><b>ТЕРРИТОРИЯ ОНЛАЙН МАСТЕРСКИХ</b></h2>
                @*<h4 class="white-text-with-brown-shadow"> Образовательная платформа для авторов и слушателей онлайн видео курсов</h4>*@
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-7 ml-auto mr-auto text-center">
                <button class="btn btn-rose btn-lg" data-toggle="modal" data-target="#loginModal">
                    Cтать автором и начать зарабатывать
                </button>
            </div>
        </div>*@
    </div>
</div>



<div class="main main-raised">
    <div class="container">
        <div class="section">

            <!--collapse -->
            <div id="collapse">
                <div class="title">
                    <h3>Цены</h3>
                </div>
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Тариф</th>
                                        <th>Места на диске</th>
                                        <th>Сколько стоит</th>
                                        <th class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Du0</td>
                                        <td>0.5 ГБ</td>
                                        <td>299,6 руб/мес</td>
                                        @*<td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-lg">
                                                <i class="material-icons">payment</i> Купить
                                            </button>
                                        </td>*@
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Du1</td>
                                        <td>1 ГБ</td>
                                        <td>599,2 руб/мес</td>
                                        @*<td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-lg">
                                                <i class="material-icons">payment</i> Купить
                                            </button>
                                        </td>*@
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>Du2</td>
                                        <td>2 ГБ</td>
                                        <td>984,4 руб/мес</td>
                                        @*<td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-lg">
                                                <i class="material-icons">payment</i> Купить
                                            </button>
                                        </td>*@
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>Du5</td>
                                        <td>5 ГБ</td>
                                        <td>1 926 руб/мес</td>
                                        @*<td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-lg">
                                                <i class="material-icons">payment</i> Купить
                                            </button>
                                        </td>*@
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td>Du10</td>
                                        <td>10 ГБ</td>
                                        <td>2 889 руб/мес</td>
                                        @*<td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-lg">
                                                <i class="material-icons">payment</i> Купить
                                            </button>
                                        </td>*@
                                    </tr>
                                    <tr>
                                        <td class="text-center">6</td>
                                        <td>Du20</td>
                                        <td>20 ГБ</td>
                                        <td>3 959 руб/мес</td>
                                        @*<td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-lg">
                                                <i class="material-icons">payment</i> Купить
                                            </button>
                                        </td>*@
                                    </tr>
                                    <tr>
                                        <td class="text-center">7</td>
                                        <td>Du30</td>
                                        <td>30 ГБ</td>
                                        <td>5 778 руб/мес</td>
                                        @*<td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-lg">
                                                <i class="material-icons">payment</i> Купить
                                            </button>
                                        </td>*@
                                    </tr>
                                    <tr>
                                        <td class="text-center">8</td>
                                        <td>Du50</td>
                                        <td>50 ГБ</td>
                                        <td>9 309 руб/мес</td>
                                        @*<td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-lg">
                                                <i class="material-icons">payment</i> Купить
                                            </button>
                                        </td>*@
                                    </tr>
                                    <tr>
                                        <td class="text-center">9</td>
                                        <td>Du100</td>
                                        <td>100 ГБ</td>
                                        <td>18 190 руб/мес</td>
                                        @*<td class="td-actions text-right">
                                            <button type="button" rel="tooltip" class="btn btn-success btn-lg">
                                                <i class="material-icons">payment</i> Купить
                                            </button>
                                        </td>*@
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--end collapse -->
        </div>
    </div>
</div>