@model HTTPMediaPlayerCore.Models.User

@using HTTPMediaPlayerCore.Models;
@{
    ViewBag.Title = "SetPassword";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<link href="~/Content/css/login.css" rel="stylesheet" />

    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 ml-auto mr-auto">
                <div class="card card-signup">
                    <h2 class="card-title text-center">Новый пароль</h2>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10 mr-auto ml-auto">
                                @Html.Partial("_changePassword", new ChangePasswordModel { userid = Model.Id } )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts {
<script type="text/javascript">
        $(document).ready(function () {
            var res = getParameterByName('res', window.location.href);
            if (res == 'failed' || res == 'notmatch') {
                if (res == 'failed') $('.error-div > span').text('Ошибка при изменении пароля.');
                if (res == 'notmatch') $('.error-div > span').text('Пароль и его подтверждение не совпадают.');
                $('.error-div').show();
                var count = 3, speed = 100;
                var fIn = function () { $(this).fadeIn(speed, fOut); };
                var fOut = function () { if (--count > 0) $(this).fadeOut(speed, fIn); };
                $('.error-div').fadeOut(speed, fIn);
            }

            $('.verify-login').click(function () {
                $('.login-loader-bg').show();
                $('.error-div').hide();
            });
        });
</script>    
    
    }


