
@{
  ViewBag.Title = "DoneFor21";
}

<div class="page-header header-filter header-small" filter-color="purple" data-parallax="true" style="background-image: url('../../Content/img/bg10.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2><b>Школа Эмиграционного Обучения</b></h2>
                @*<h6><i>Человек устроен так, что, когда что-то зажигает его душу, всё становится возможным. Жан де Лафонтен</i></h6>*@
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="subscribe-line">
        <div class="container">
            <h2 style="text-align: left;"><strong><b>Done for 21</b> &ndash; наиболее эффективная система трекинга привычек, достижения целей и продвижения.</strong></h2>
            <p style="text-align: justify;">&nbsp;</p>
            <p style="padding-left: 30px; text-align: left;">
                <span style="font-weight: 400;">
                @*<a href="~/Content/img/Habbit_21.png" target="_blank">Habbit 21</a>*@
                    <a href="~/Content/img/Habbit_21.png" class="btn btn-primary btn-sm">
                        @*<i class="material-icons">check</i>*@ Habbit 21
                    </a>
                </span>
                <span style="font-weight: 400;">&ndash; универсальный и эффективный трекер привычек</span>
            </p>
            <p style="padding-left: 30px; text-align: left;">
                <span style="font-weight: 400;">
                @*<a href="~/Content/img/Target_21.png" target="_blank">Target 21</a>*@
                    <a href="~/Content/img/Target_21.png" class="btn btn-primary btn-sm">Target 21</a>
                </span> <span style="font-weight: 400;">&ndash; трекер шагов по достижению целей и выполнению крупных задач</span></p>
            <p style="padding-left: 30px; text-align: left;">
            <span style="font-weight: 400;">
                @*<a href="~/Content/img/Forward_21.png" target="_blank">Forward 21</a>*@
                <a href="~/Content/img/Forward_21.png" class="btn btn-primary btn-sm">Forward 21</a>
                </span>
            <span style="font-weight: 400;"> &ndash; трекер работы с таймером для серьезного прогресса в больших проектах</span></p>
            <p style="text-align: justify;">&nbsp;</p>
            <h2 style="text-align: justify;"><strong>КАК ЭТО РАБОТАЕТ? </strong></h2>
            <p style="text-align: justify;">&nbsp;</p>
            <ul style="text-align: justify;">
                <li style="font-weight: 400;"><span style="font-weight: 400;">Как вы знаете, для того, чтобы привычка стала частью вашей жизни, нужен 21 день непрерывного внедрения. Предлагаем вам систему трекинга </span><strong>привычки</strong> <span style="font-weight: 400;"><a href="~/Content/img/Habbit_21.png" class="btn btn-primary btn-sm">Habbit 21</a></span></li>
            </ul>
            <p style="padding-left: 60px; text-align: justify;"><span style="font-weight: 400;">Одна привычка &ndash; один трекер. Скачайте его по ссылке, распечатайте, заполните графы &laquo;Habbit&raquo; - та привычка, которую вы хотите приобрести, &laquo;First Week Bonus&raquo; - бонус первой недели, за успешную и непрерывную практику новой привычки в течение первых 7 дней, &laquo;Second Week Bonus&raquo; - бонус второй недели, за 14 дней стойкости, и &laquo;Big Bonus&raquo; - то, что вы получите от самого себя за 21* день работы и приобретенную привычку. Продумать награды очень важно, чтобы отметить каждый новый уровень, на который вы выходите. </span></p>
            <p style="padding-left: 60px; text-align: justify;"><em><span style="font-weight: 400;">*Если хотя бы один день пропущен, распечатайте новый трекер, и начните сначала. Только так это работает!</span></em></p>
            <p style="text-align: justify;">&nbsp;</p>
            <ul style="text-align: justify;">
                <li style="font-weight: 400;"><span style="font-weight: 400;">Система достижения </span><strong>целей</strong> <span style="font-weight: 400;"><a href="~/Content/img/Target_21.png" class="btn btn-primary btn-sm">Target 21</a></span><span style="font-weight: 400;"> поможет вам справиться с любой объемной задачей, требующей значительного вложения сил и времени. </span></li>
            </ul>
            <p style="text-align: justify; padding-left: 60px;"><span style="font-weight: 400;">Когда цель действительно большая, человек склонен постоянно откладывать начало серьезной работы, потому что задача кажется неподъемной. В психологии такие значительные проекты называют &laquo;слонами&raquo;. Чтобы ваш слон перестал быть таким огромным, его нужно разбить на 21 маленького слоненка (возможно, шагов окажется меньше, тогда разбейте небольшие шаги на еще более мелкие). Выполняя шаг за шагом небольшие задачи, избегайте оценивать общий объем предстоящих работ, подсчитывать время и прочее. Сейчас перед вами только вот этот маленький пункт. О следующем подумаете после того, как выполните предыдущий, и не раньше. Вы удивитесь, насколько серьезный объем работы можно проделать всего за 3 недели! </span></p>
            <p style="text-align: justify; padding-left: 60px;"><span style="font-weight: 400;">Одна цель &ndash; один трекер. Обязательно пропишите название цели, 2 бонуса-награды за непрерывный процесс (на 7 и 14 шагах), и бонус-результат. Они будут дополнительно вас мотивировать. </span></p>
            <p style="text-align: justify; padding-left: 60px;"><span style="font-weight: 400;">В отличие от трекинга привычки, тут не обязательно работать 21 день без перерыва, однако, наиболее эффективно, чтобы они были не длительными (до 3 дней). </span></p>
            <ul style="text-align: justify;">
                <li style="font-weight: 400;"><span style="font-weight: 400;">Третий трекер от DuWays и Done for 21 окажется полезным, если вам нужно <strong>серьезно продвинуться</strong> в каком-либо деле (изучение нового языка, работа над фигурой мечты, написание книги). Предполагается крупная задача, завершить которую за 21 день физически невозможно. Однако, это достаточный срок для серьезного прогресса. Трекер </span><span style="font-weight: 400;"><a href="~/Content/img/Forward_21.png" class="btn btn-primary btn-sm">Forward 21</a></span><span style="font-weight: 400;"> также не рассчитан на длительные перерывы, однако допускает их в процессе работы. </span></li>
            </ul>
            <p style="text-align: justify; padding-left: 60px;"><span style="font-weight: 400;">Распечатайте один трекер для одной задачи. Впишите тему, и заполните поле &laquo;Why?&raquo; - для чего вам нужно работать в этом направлении? Какова конечная цель? Что это вам даст и какие дополнительные возможности откроет? </span></p>
            <p style="text-align: justify; padding-left: 60px;"><span style="font-weight: 400;">Вооружитесь таймером. Вы должны уделить своему прогрессу ровно 21 минуту в день. Больше можно (если поймаете поток за хвост!), меньше нет! В сутках 24 часа. Найти на важное дело 21 минуту реально всегда! </span></p>
            <p style="text-align: justify; padding-left: 60px;"><span style="font-weight: 400;">Вписывайте даты и отслеживайте сделанное. В разных ситуациях вы можете работать эффективнее или, наоборот, менее активно. Это не имеет значения. Важно не оценивать качество проделанной работы, а именно стабильно уделять ей время. </span></p>
            <p style="text-align: justify; padding-left: 60px;"><span style="font-weight: 400;">Заполните поле &laquo;Результат&raquo; только через 21 день. Удивляйтесь и продолжайте в том же духе</span></p>
        </div>
    </div>
</div>
