
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailTemplate2</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0" width="100%" align="center">
        <tbody>
            <tr>
                <td style="background-color:#e3ebf1">

                    <table cellpadding="0" cellspacing="0" width="760" align="center">
                        <tbody>
                            <tr>
                                <td>

                                    <table cellpadding="0" cellspacing="0" width="100%" align="center">
                                        <tbody>
                                            <tr>

                                                <td style="padding:28px 0 20px;text-align:center">
                                                    <a href="https://youdo.com?utm_source=trigger&amp;utm_medium=email&amp;utm_campaign=Reg_complete&amp;utm_content=logo" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com?utm_source%3Dtrigger%26utm_medium%3Demail%26utm_campaign%3DReg_complete%26utm_content%3Dlogo&amp;source=gmail&amp;ust=1549287527769000&amp;usg=AFQjCNHx-sVsjjrzR-Hu-RgL3oWWFCAWtg">
                                                        <img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.1&amp;permmsgid=msg-f:1618359195784717068&amp;th=1675911d37bc230c&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9kmPAtM30Raz8R--3pLP4Sbw8T5wl9vfJZhaQJctmz5O7bSgawQ5tQ3XqtGtQ3kCbTYxEVZe-NWkr507qACAWx-_2jJ-_G-0n3vIvAKmw78km75JYDFX8A7NE&amp;disp=emb" alt="YouDo" width="185" height="59" data-image-whitelisted="" class="CToWUd">
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="background-color:#fff">

                                                    <table cellpadding="0" cellspacing="0" width="100%">

                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:65px 70px 0 70px">
                                                                    <h1 style="margin:0 0 25px 0;font-size:36px;font-weight:normal;line-height:40px">
                                                                        Подтвердите почтовый адрес
                                                                    </h1>
                                                                    <p style="margin-bottom:30px;text-align:center">
                                                                        <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.2&amp;permmsgid=msg-f:1618359195784717068&amp;th=1675911d37bc230c&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ94vja3PEU1yGIYQDJN532g-ZSgIzrAMWy4p-MFKoAJT12QpzPLTikwljoxpv1WQPlIxdFUFj_8p0YtPhz68IEx8UMlWAfUcYKSabx2J10JToTh1YSvmKs-TDo&amp;disp=emb" width="170" height="183" alt="" data-image-whitelisted="" class="CToWUd">
                                                                    </p>
                                                                    <p style="padding:0;margin:0 0 40px 0;font-size:16px;line-height:21px;text-align:center">
                                                                        Для подтверждения почты<br>
                                                                        <a style="color:#3999fb" href="https://youdo.com/activateemail/307b3563e9894a98a9c3788bc92d79e9?utm_nooverride=1" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/activateemail/307b3563e9894a98a9c3788bc92d79e9?utm_nooverride%3D1&amp;source=gmail&amp;ust=1549287527769000&amp;usg=AFQjCNFUXkPoKLn_LIIsBCvfSMMvGwUsNg">перейдите по данной ссылке</a>.
                                                                    </p>
                                                                    <div style="width:450px;background-color:#fff5de;padding:30px 40px;margin:0 auto 50px">
                                                                        <p style="font-size:16px;color:#000;margin:0 0 25px 0">Обязательно запомните ваши регистрационные данные:</p>
                                                                        <p style="padding-left:30px;padding-right:30px;font-size:19px;color:#000;margin:0 0 5px 0;text-align:left;word-wrap:break-word">Ваш логин: <a href="mailto:pavelkolom@gmail.com" target="_blank">pavelkolom@gmail.com</a></p>
                                                                        <p style="padding-left:30px;padding-right:30px;font-size:19px;color:#000;margin:0 0 20px 0;text-align:left;word-wrap:break-word">Пароль: p9ECo2T*W0</p>
                                                                        <p style="padding:0 30px 0 30px;font-size:15px;line-height:19px;margin:0;color:#999;text-align:left">Рекомендуем изменить пароль, а&nbsp;также указать ваш пол, город и&nbsp;возраст в&nbsp;настройках профиля.</p>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td style="border-top:1px solid #e2eefb;font-size:11px;padding-top:19px;padding-bottom:25px">
                                                                    <p style="text-align:center;margin-bottom:5px">
                                                                        <a href="https://youdo.com/Contacts?utm_source=trigger&amp;utm_medium=email&amp;utm_campaign=Reg_complete&amp;utm_content=link" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/Contacts?utm_source%3Dtrigger%26utm_medium%3Demail%26utm_campaign%3DReg_complete%26utm_content%3Dlink&amp;source=gmail&amp;ust=1549287527769000&amp;usg=AFQjCNHgyR_l3FtDnfXWouyLOaUXwjfDuw">О нас</a>
                                                                        <a href="https://youdo.com/GeoTasksHint?utm_source=trigger&amp;utm_medium=email&amp;utm_campaign=Reg_complete&amp;utm_content=link" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/GeoTasksHint?utm_source%3Dtrigger%26utm_medium%3Demail%26utm_campaign%3DReg_complete%26utm_content%3Dlink&amp;source=gmail&amp;ust=1549287527769000&amp;usg=AFQjCNH_oe0SN3h-gjUcyqjNL9tIW0y5mg">Как это работает</a>
                                                                        <a href="https://youdo.com/Faq?utm_source=trigger&amp;utm_medium=email&amp;utm_campaign=Reg_complete&amp;utm_content=link" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/Faq?utm_source%3Dtrigger%26utm_medium%3Demail%26utm_campaign%3DReg_complete%26utm_content%3Dlink&amp;source=gmail&amp;ust=1549287527769000&amp;usg=AFQjCNG80Lcs5cl6DM_Gs6qfZoeDgQvxBQ">Частые вопросы</a>
                                                                    </p>
                                                                    <p style="text-align:center;font-size:15px;line-height:27px;color:#6e92af;margin:0 0 20px 0">
                                                                        Служба поддержки в России: 8 (800) 511 55 62 <br><span style="margin-left:25px">Email: </span> <a href="mailto:privet@youdo.com" style="text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank">privet<span class="il">youdo</span>.com</a>
                                                                    </p>
                                                                    <p class="m_2762822443015071065social-icons" style="text-align:center">
                                                                        <a href="http://www.facebook.com/youdocom" style="margin-top:0;margin-bottom:0;margin-right:3px;margin-left:3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.facebook.com/youdocom&amp;source=gmail&amp;ust=1549287527769000&amp;usg=AFQjCNHOxa2BwROTO8_Ui6rbjtnDyi_T6A"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1618359195784717068&amp;th=1675911d37bc230c&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ87PsWAgXnWcmhMmo6dwPGATttJRZ6kEIp9XiiqR96_SlbhyPGuW1kb7_y2Jnl_oJtBX9Jv4-Y2XEg00m0L31uX6vbKdo9Azz0OyiWOPqSd0sO1z50R7FdLewg&amp;disp=emb" alt="Facebook" width="30" height="30" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://twitter.com/youdo" style="margin-top:0;margin-bottom:0;margin-right:3px;margin-left:3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://twitter.com/youdo&amp;source=gmail&amp;ust=1549287527769000&amp;usg=AFQjCNHUxh_u1QPPMU7C3SaXk8x9BYw-Sw"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.4&amp;permmsgid=msg-f:1618359195784717068&amp;th=1675911d37bc230c&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8dB9-4JRjJ1BuSLyZkc3NZI4poYlOKS74V2O_kpIflukVuRFtTPwcccQmJbJCEK2eWpMsdZpa9skX-oROfQ4MOrvsRfyAbiR7icLcSlBdDlHcAWyMBELULoWw&amp;disp=emb" alt="Twitter" width="30" height="30" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://vk.com/youdocom" style="margin-top:0;margin-bottom:0;margin-right:3px;margin-left:3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://vk.com/youdocom&amp;source=gmail&amp;ust=1549287527770000&amp;usg=AFQjCNHQ2KMnxeP1pWJmVAuYXHzSVVRLDA"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1618359195784717068&amp;th=1675911d37bc230c&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-9KhWKloyjTvY2Z4ufHHkzARJhudOdKWIA35yiuaQlvRsXTuvUbRwP03HnDU0hc7U1c9-oevnSt_-uW0N5JCNj7N9GQ9_wvjAIyVpft27IZdJyi122F09Hv44&amp;disp=emb" alt="Вконтакте" width="30" height="30" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="https://www.instagram.com/youdocom/" style="margin-top:0;margin-bottom:0;margin-right:3px;margin-left:3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/youdocom/&amp;source=gmail&amp;ust=1549287527770000&amp;usg=AFQjCNFUpEw2L99IoJkT-40tdwSZmkPmfw"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1618359195784717068&amp;th=1675911d37bc230c&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9awMHPpnAVShOaTRFPjrXtbHlkjqywUbE7O570oCp-kM9jWR6HYBrBzG1C4P2ErxJDvoqdakEpiDmZx433xEFyf4xHh734EjOLkIgDpIFOP4SRUjqs93hvhfs&amp;disp=emb" alt="Instagram" width="30" height="30" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="https://www.youtube.com/user/youdo" style="margin-top:0;margin-bottom:0;margin-right:3px;margin-left:3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/user/youdo&amp;source=gmail&amp;ust=1549287527770000&amp;usg=AFQjCNE_sBCR8_DIs_1GplZ6XcnGwJAYQg"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.7&amp;permmsgid=msg-f:1618359195784717068&amp;th=1675911d37bc230c&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_Qpx1yeVSatGFBv5w6riok-m8DZsp18qWrXaGpnRrdkWxFrz8tTHFzLN5r_w7QzGvQ53PA7DsZPxBRuQ16brvZvtrjyF8rhKanFX-td87fgPSJ9y8yd4SI_CU&amp;disp=emb" alt="YouTube" width="30" height="30" data-image-whitelisted="" class="CToWUd"></a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding-top:20px;padding-bottom:10px;padding-left:53px" align="left" valign="top">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" width="160">
                                                                    <p style="font-size:14px;line-height:18px;color:#6e92af;padding-top:0;padding-bottom:0;margin-bottom:0;margin-top:0">© 2012–2018 <span class="il">YouDo</span></p>
                                                                </td>
                                                                <td valign="top">
                                                                    <a href="https://youdo.com/profile/settings/notifications?utm_source=trigger&amp;utm_medium=email&amp;utm_campaign=Reg_complete&amp;utm_content=link" style="font-size:14px;line-height:15px;text-decoration:underline;font-family:arial,sans-serif;color:#6e92af" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/profile/settings/notifications?utm_source%3Dtrigger%26utm_medium%3Demail%26utm_campaign%3DReg_complete%26utm_content%3Dlink&amp;source=gmail&amp;ust=1549287527770000&amp;usg=AFQjCNHDSgWXwLW_MuGlM8P0FlO39oOX5Q">Настроить параметры рассылки</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <a href="https://youdo.com/unsubscribe/172C565E57FAC32A46CF6651FD4D7E98E16375D815C77C7418FE4541E88B8B3D8F41BD10DD2CBEE8/?utm_source=trigger&amp;utm_medium=email&amp;utm_campaign=Reg_complete&amp;utm_content=link" style="font-size:14px;line-height:15px;text-decoration:underline;font-family:arial,sans-serif;color:#6e92af" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/unsubscribe/172C565E57FAC32A46CF6651FD4D7E98E16375D815C77C7418FE4541E88B8B3D8F41BD10DD2CBEE8/?utm_source%3Dtrigger%26utm_medium%3Demail%26utm_campaign%3DReg_complete%26utm_content%3Dlink&amp;source=gmail&amp;ust=1549287527770000&amp;usg=AFQjCNHoL4nXqQyF4qsQLohZfMh_DpK5lw">Отписаться от рассылки</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
