
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailTemplate</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0" width="100%" align="center">
        <tbody>
            <tr>
                <td style="background-color:#e3ebf1">

                    <table cellpadding="0" cellspacing="0" width="760" align="center">
                        <tbody>
                            <tr>
                                <td>

                                    <table cellpadding="0" cellspacing="0" width="100%" align="center">
                                        <tbody>
                                            <tr>

                                                <td style="padding-top:28px;padding-left:53px;padding-bottom:20px" align="left">
                                                    <a href="https://youdo.com?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=logo&amp;utm_campaign=news" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dlogo%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527727000&amp;usg=AFQjCNFhKC6nh-S48m64G2u4EyXJjxjVMA">
                                                        <img class="m_1649260294805650045il CToWUd" border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.1&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8xx4EetfUSYQhFtDiaz59V0GeyOD1DZTsmpnilQqTPGaI2pyvVD0tOAfgLUUGKMyzftNQh9PWwhtrOz3tHP0mVak8mf7AV-CVfJmaTzGwhm5k-cz-xB8qbKgw&amp;disp=emb" width="142" height="44" alt="" data-image-whitelisted="">
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="background-color:#fff">

                                                    <table cellpadding="0" cellspacing="0" width="100%">

                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:65px 70px 7px 70px">

                                                                    <h1 style="margin:0 10px 25px;font-size:36px;font-weight:normal;color:#000;line-height:40px;text-align:center">
                                                                        Давно не виделись
                                                                    </h1>

                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:0 10px 0 30px"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.2&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8HcJDZIdHcEfSFxmyiH09bsOCbdpo99TTuYUJLHdfbtSoppnOzv49LpZY82YuWNSgtumrpf1EGOzXs8zZsSSTNVCNlR-e71q-ktZ859swCjpXhWcQOjvFRc0k&amp;disp=emb" width="239" height="220" alt="" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 424.906px; top: 426.778px;"><div id=":1eh" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Скачать файл b8f0be8c-0fc3-4a9b-863d-943c900c6026.png" data-tooltip-class="a1V" data-tooltip="Скачать"><div class="aSK J-J5-Ji aYr"></div></div><div id=":1ei" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Сохранить файл b8f0be8c-0fc3-4a9b-863d-943c900c6026.png на Диске" data-tooltip-class="a1V" data-tooltip="Сохранить на Диске"><div class="wtScjd J-J5-Ji aYr aQu"><div class="T-aT4" style="display: none;"><div></div><div class="T-aT4-JX"></div></div></div></div></div></td>
                                                                                <td style="padding-right:10px">
                                                                                    <p style="font-size:16px;line-height:23px;margin-bottom:20px">
                                                                                        Здравствуйте, Pavel!<br>
                                                                                        Нам и&nbsp;нашим исполнителям очень грустно без вас. Мы&nbsp;уверены, что за&nbsp;последнее время у&nbsp;вас неоднократно возникали ситуации, в&nbsp;которых
                                                                                        <a href="https://youdo.com?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=link1&amp;utm_campaign=news" style="color:#5491fc" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dlink1%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527727000&amp;usg=AFQjCNHotu1enPQvI8HcbsRH0XLKvHPcdw"><span class="il">YouDo</span></a> мог бы вам помочь .
                                                                                    </p>

                                                                                    <p style="font-size:16px;line-height:23px;margin-bottom:20px">
                                                                                        Возвращайтесь, создавайте задания, проверьте, как это просто и&nbsp;удобно&nbsp;— решать свои задачи с&nbsp;помощью <span class="il">YouDo</span>.
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                    <p style="text-align:center;font-size:24px;color:#1959fc;margin-bottom:10px">Наши исполнители с радостью:</p>
                                                                    <table cellspacing="20" cellpadding="0" style="border-collapse:initial">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9Ob-mbe0db57g01Z4X0hH0PwwPfmePP7iXVXBkC4WLft_dOB00fLwsdyOQfaSAF9SmX0c0ftODykmCJxCH2e59ezBNXJ1JCK8OcHIW5Y6krxFwWhGn6M657Rw&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td style="vertical-align:top">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.4&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8Fo07AWgKaH0tCdHL3H6COcqSfVthlVql_rV9bGFstepHCi61GQz87j24dk18x8_UmHkWWF4vJl9vcY0ADkgWvUsXBopF8ACb52oOMUgXagM0kIkMTKHQsrgU&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 15px 5px">
                                                                                                        <a href="https://youdo.com/tt37982?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=category1&amp;utm_campaign=news" style="text-decoration:none;color:#5491fc" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tt37982?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dcategory1%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527727000&amp;usg=AFQjCNHvbUCZPnE_PQLAVHc-BaWvOSvItw">Отвезут в аэропорт — </a> от&nbsp;700 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 15px">Поддержат интересную беседу или позволят насладиться любимой музыкой</p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9VU5oiqVCf91ahmZ5QglyYSsFjsnnryUHdT7jqmR8EhzIB1CNCU8Gt62d3rc3Y5OWsjAG69I8myVyZlt4BElr1ZKTRMmGl9I-JvqUwYABfk7sWj9BNL3is0Qo&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_iB8eL3dxJlC_Hx5i2shMkDxd5tn1LFfc9ZylwGIz9c85L9xUotpUbpB-v0ONf0UYHTgW385AqaNJy06gtvzJr6xANfq_Gj_T7ILG8b5TCFa6qrsHa-CZTwtw&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-yVQcGc4xfoEjt_yfvyumFUks6PNd-npf_nLNbYtU8-W0go8Wm57iqHjCJQw66_VvCwzJQqt0DTI7LEivdO50b-z8J92EnWKg2bi2G_rf9HiUvP_WifEYRA3E&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td style="vertical-align:top">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.7&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-1vdO6zwcpUXGktxlBIu4_ZR-sRAOAdI_3WwMALIeGylRc4BIHv0vIVExE02yUB8YLjrzRWw4hWk0sKfnY8TkyEva6w6durln7qq0y4cspyXAt-NEDnFTmqgA&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 15px 5px">
                                                                                                        <a href="https://youdo.com/tt11078?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=category1&amp;utm_campaign=news" style="text-decoration:none;color:#5491fc" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tt11078?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dcategory1%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527727000&amp;usg=AFQjCNEUPsxJzHGdIT4UTgu4XhvQOIU8EQ">Соберут мебель — </a> от&nbsp;600 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 15px">Даже если в комплекте не хватает деталей</p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_ZMnWIU9ukDbFrcyZk6BNCXTt3pjj6Dbmqza88UsqE4cka9rjOvqXdzJleYkrxPNiZx04NplaVDcZWwc1neUYVr_rd5Ath2FDa4xkES7V5zS6uFU7Ngez-h0s&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8nn66ZO_XtDE0V06k53CmnF0Qa_I-cXkGk3lfI_LMj_lh4r55wCKP3lrlHSIndLSxHpONptPZwFdFcWVs48qqyGeyVS0NsWX9tfY3nLSHJ_57cTBpyg_7EhFI&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_aOlR-Lc1o3lxLD-264g2NcCCw2chJsoBYYESnEn3zvMN2jo4qr3CIXgKVdFaqooG01oWCy7XOAge6SI1EZt1XTT9BHMFr06V9ACfaGXAZcDCMY38fNRwM2Ms&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td style="vertical-align:top">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.8&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8X7ndNVO7DLkSpM1Kbd6AAFvlkxIgk9gEsT2sbpKctgzN6tKX4_DMYt7HFyzNyH_aq40VjvqdiiQ4R_DVqsIDzz581cX10W3gyMnT6NCVoHaHdNjQLpUl1Fo4&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 15px 5px">
                                                                                                        <a href="https://youdo.com/tt14514?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=category3&amp;utm_campaign=news" style="text-decoration:none;color:#5491fc" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tt14514?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dcategory3%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNGkSBxr6ctq4n1yC9kjUaEwz7fl2A">Помогут с переездом — </a> от&nbsp;1000 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 15px">С нами вы поймете, что переезд лучше пожара</p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_4TyWNP6bxn26KOyo5zbORyhKYijUVUvkXnxrXV8ov6TbpNYeGzHEVi1LNWy72HPXd5_9AJ0cAOHQ88bqJ_kZJUQH9lZ6K_3NmhTlOTcIY9zHrwgJIPAyBprE&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_NzaDUZQNHyQsKFJndYY2R5XexMG3NkCAQtyJYbdldbhn_p8QTqX5ze5yKKCqMcQMmu_eX6REhpVwh2Esw0YgW5OJ0Kaus-acfC4Qmw7kCLCh4vI6J7kLC_GQ&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_WwlB-Lk9BiBMbOwMv3DQzv3qkv8_D_ZhJc4XOdXFeS-uGkbwDuSsBjkdn9-yWh9rbbgvqA7BhrzwvblUlM0v5n26DleQ4qkvHG313a0ioIkyk4J3EdOzDeUs&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td style="vertical-align:top">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.9&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_7knvVLvfYK-nM-w4G44Yf-uSi48itw9zxMOxroVAqQqfwqvq29ThREP71Gl395lQcS_f0ucKEzVm6ov8vOepEASa1xOkVjqS2KmqsUeGMaYHSAgZTgjoiBm0&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 15px 5px">
                                                                                                        <a href="https://youdo.com/tt51858?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=category4&amp;utm_campaign=news" style="text-decoration:none;color:#5491fc" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tt51858?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dcategory4%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNFY9ccOQO3_yhCFaWwe4UeAKUc3ZQ">Установят стиральную машину —</a> от&nbsp;1500 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 15px">Доказано: 90% случаев самостоятельной установки заканчиваются потопом</p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-iKfGi4jxmlvYS_5YqLt_a4UsUg92vvaXzx8GqTkWkAkvd2V2gvfKOyD_VsA1WU6zDGzkTZQkym4xFf29cK6QWvgiUhoBszFTA6LUhQu5yzXAC79-AuDkmzg4&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-X8idiCgwDOm03bZwWWbTBmOrhmp51pM7UXfkHNfTGNX_-TAcLlWr2WP2cygGu1QSmAU4NZiK57pBp4YuIB9rpWtdUt80uCUjZD9095hvX-wPVx5n6rCmBwLs&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9c2oDH3xet-BnbUu1N8empzppUVQf9NA3Wto5RFUOjBE06N67nfDSUJyjqx3jcC4KRW0zlT_CWdu6xk6jSwBU5VOmnGeVn0-spUc6D_HpgHXMWCz2EEsojOOY&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td style="vertical-align:top">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.10&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9KU09mj4rU9fMxjUzNnICSU0M2TfNGmKvhFrElrwSqGaX24BhSbeV4KRB7mkMcJAWGSxkYMmOhtLqV-_yT70GCKuiU2HWnjN8_P_PiBBq6axtx38ZcitaVKHs&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 15px 5px">
                                                                                                        <a href="https://youdo.com/tt10434?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=category5&amp;utm_campaign=news" style="text-decoration:none;color:#5491fc" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tt10434?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dcategory5%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNHEAHEa_Pgq_mT0F8jr6sXsjEMTHg">Доставят посылку в пределах Москвы — </a> от&nbsp;350 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 15px">Никаких пробок, толкучки в метро и лишней траты времени</p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_26uGFBG5i0MG6taMiBcXkNrphTz7xCLHQRkDWZ3sfKv-Ehqb9VmfQzR3QK4OBwCH48bh8GgvC_pMCUJ0v6Rq0DimCEoAkJTvXU3BboaNwk3zgkmK2vbfuRuU&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ87LqjUaffdRkraTYu2SJZkk3dAkAIGxR7KoJ70UWMTZloyuxkoOH-MapXE65sSA0BNigGKk7UTfUjQJUI7c2Hgpgd3s8D5sS2R_PI8RfJ-mbpuzjFqRvRyG3Q&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9wj4Rk1RNnSAE1L6QLEOwfCY9x2ym4_bqekZ6OFlyTW16ZfHTQqbzM9funrYH4xaznFWnWUlUoj0LwuACZaJDgZ8xcOrJHghTs8boEvrkjYv8jMzlwRSZxMUM&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td style="vertical-align:top">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.11&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8vcCWOQ7F0yC8nUT_B1ORpyFJvwonX7C5Q87enguinhgq7QOlQhCfZ3gArNM_J_qT1jA2fRxvicngbJ8exfJwD80d1q_8u6gqJvzQFNtWBBLq92GH4iQsoC7U&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 15px 5px">
                                                                                                        <a href="https://youdo.com/tt46446?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=category6&amp;utm_campaign=news" style="text-decoration:none;color:#5491fc" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tt46446?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dcategory6%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNGZ6sokoxwyuUDQqW1Ebeti44vLSQ">Сделают уборку в квартире — </a>от&nbsp;900 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 15px">И целый выходной в вашем распоряжении</p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px;line-height:0">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9yxb56NMAJ_Nv7AMT3YBrMcf0kUxJ_KlX-3tPFbbyy_afilV9dhPYBBOyMTjngFv8JD0HUD61JfPTbMMXrPFrR0o7oyoBnVdfPRyLjvax3N29keJ8v7guM6y8&amp;disp=emb" width="3" height="300" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8vntG7lM27t9ajdeQkfz6_HIw0UStKCGinq-vB093ECHmo0bobQOTW5xGFRMqJT9_Hj7TIy8R0FBcD-R6FXIzdWiUOakt2K_CYTpcUKYjjUjKp6KNzEY7Gx_Y&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>


                                                                    <p style="margin:0 10px 20px 10px;font-size:16px;line-height:23px;color:#000;text-align:center">
                                                                        … и сотни других примеров заданий в 14 категориях.
                                                                    </p>

                                                                    <div style="margin:0 10px 50px 10px;text-align:center">
                                                                        <a href="https://youdo.com/tasks/new?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=btn1&amp;utm_campaign=news" style="display:inline-block;background-color:#7abb2f;height:62px;line-height:62px;padding:0 40px;color:#fff;text-decoration:none;font-size:25px;margin-bottom:15px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tasks/new?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dbtn1%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNEbZ3SmrWEYkPhU2Ep7B0EBz24HqQ">Создать свое задание</a>
                                                                        <p style="margin:0;font-size:16px;color:#7cbe2f">Создавайте задания, наши исполнители готовы к любым поручениям</p>
                                                                    </div>

                                                                    <table cellpadding="0" cellspacing="0" width="615" style="margin:0 auto 30px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="background-color:#f8f7ee;padding:22px 20px 22px 25px;width:67px">
                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.12&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-DcuVY_V5w_jwOoqGu1xyX1hXjr0TQPkLX-Ns8bfH10iwC1_j27D0KXjDR0C33X_Z_3pvXZeyUn7EFMA0ct1YjXyQRDQAo7wQftQx4g9CPhfrFDNL26pUJkFo&amp;disp=emb" width="67" height="67" data-image-whitelisted="" class="CToWUd">
                                                                                </td>
                                                                                <td style="background-color:#f8f7ee;padding:22px 0 22px 0">
                                                                                    <p style="font-size:15px;line-height:21px;color:#3f5969;margin-bottom:15px">
                                                                                        Звоните, я помогу вам создать задание!<br><strong>
                                                                                            Телефон в России
                                                                                        </strong>: 8 (800) 511 55 62.
                                                                                    </p>

                                                                                    <p style="font-size:13px;line-height:21px;color:#3f5969">
                                                                                        Ждем ваших звонков с 9:00 до 24:00 без выходных
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>


                                                            <tr>
                                                                <td style="border-top:1px solid #e2eefb;font-size:11px;padding-top:19px;padding-bottom:25px">
                                                                    <p style="text-align:center;margin-bottom:5px">
                                                                        <a href="https://youdo.com/Contacts?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=contacts&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/Contacts?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dcontacts%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNFEebBFvUFSish4lNw6yTSEH94ZZw">О нас</a>
                                                                        <a href="https://youdo.com/GeoTasksHint?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=hint&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/GeoTasksHint?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dhint%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNH4gSdIa8wM5qx_T8EEDOGVP-sjpg">Как это работает</a>
                                                                        <a href="https://youdo.com/Faq?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=faq&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/Faq?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dfaq%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNE8PFaj4Jk8NUVDkwd-Bf9KPVWDfQ">Частые вопросы</a>
                                                                    </p>

                                                                    <p style="text-align:center;font-size:15px;line-height:27px;color:#6e92af;margin:0 0 20px 0">
                                                                        Служба поддержки в России: 8 (800) 511 55 62 <br><span style="margin-left:25px">Email: </span> <a href="mailto:privet@youdo.com" style="text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank">privet<span class="il">youdo</span>.com</a>
                                                                    </p>

                                                                    <p style="text-align:center">
                                                                        <a href="http://www.facebook.com/youdocom" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.facebook.com/youdocom&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNEiicD74Ip2GUmMxkkjgaVL6Gk5GQ"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.13&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-MPIihGI27P9PUzm3d_LCCR4wqelXxYR2G_d6XkEuaxd9eiBig-Lhd5G27aBptxf4JTrOx6DjtUW5qr1JTpEO4NW83hYiEuMbIz5ordklQxoXg67lULQIjueY&amp;disp=emb" width="30" height="30" alt="Facebook" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://twitter.com/youdo" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://twitter.com/youdo&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNEzXI1GQArFKRGMj3kXAsHVOgkoWQ"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.14&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-T3yTAbu4XX1dJP1d739QBuphY24HMppjPFdMDgorq--5l9tcCbBnulwkrkg5IpeIg6UBVX7kW9d0efpyel0BwJCn-Yx5FhwUM88nh3orBp9mqVo-9PzA2qKk&amp;disp=emb" width="30" height="30" alt="Twitter" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="https://plus.google.com/u/0/b/110555133905116125262/110555133905116125262/posts" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://plus.google.com/u/0/b/110555133905116125262/110555133905116125262/posts&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNE4-JliBPLjNOIIcptiFgeAEsa6vg"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.15&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-9D3W6ka9OPGKR4dM8c8hdYw7Bpgdb1qmsH1CIzOMX4yyohZsKaDhbl81RXSkvzaH7ulUWanAZSL2huwjdQS9LyQD-ZebauNj9DDgmCUY0AUOHBjI88tOg1m0&amp;disp=emb" width="30" height="30" alt="Google+" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://vk.com/youdocom" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://vk.com/youdocom&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNFlbJ_FE141epO08tfoSMaAUWXxUQ"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.16&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9pw4zjwA_jza5lor3vSorACMYMclhgdSEJ1zSdlkKOawNsh1N8PukVfbKWQziZCu-JFVKOl2Tvi8ASH6T1LoYJXiG0LJUSWotvq6RDjkegh8Ad833_lRfil0A&amp;disp=emb" width="30" height="30" alt="Вконтакте" align="" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://www.odnoklassniki.ru/group/54293833646097" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.odnoklassniki.ru/group/54293833646097&amp;source=gmail&amp;ust=1549287527728000&amp;usg=AFQjCNEaJF0vNen6T691bII_DYPpgGEg2Q"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.17&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8kuj2Kk3xW2oT4g9XuoDaTwpaHcxvTvRKEhJghmgs00C2lifx_FwuxBFPJwFVUuHLkRr2v_AXtBekiBH0emfUtV5feV3afMw9UOlfDJ6Jn5uQn4mnZv3eZYH0&amp;disp=emb" width="30" height="30" alt="Одноклассники" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://youdocom.livejournal.com/" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://youdocom.livejournal.com/&amp;source=gmail&amp;ust=1549287527729000&amp;usg=AFQjCNFIgVJ9P7kqUFmmK1Q-zHjwJTttWA"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.18&amp;permmsgid=msg-f:1620257564883520611&amp;th=167c4fabb7858c63&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_tFvHsMmDmgULk4RGiFDrNkxXWck7RtklJNlqDXE12rz2h7T9oc1iV2urbK6hzRw_uDTzfaWK2zbM9VuHpLwjD58webbh95C1aytOBc2wocoueKtaHuK_4Jzw&amp;disp=emb" width="30" height="30" alt="Livejournal" data-image-whitelisted="" class="CToWUd"></a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding:15px 0 15px 53px" align="left" valign="top">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" width="160">
                                                                    <p style="font-size:14px;color:#6e92af;padding-top:0;padding-bottom:0;margin-bottom:0;margin-top:0">© 2012–2018 <span class="il">YouDo</span></p>
                                                                </td>
                                                                <td valign="top">
                                                                    <a href="https://youdo.com/profile/settings/notifications?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=notificatoins&amp;utm_campaign=news" style="font-size:14px;color:#6e92af" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/profile/settings/notifications?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dnotificatoins%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527729000&amp;usg=AFQjCNEqwzpemwJdEYIE7ozpwAtUVTMrmQ">Настроить параметры рассылки</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <a href="https://youdo.com/unsubscribe/172C565E57FAC32A46CF6651FD4D7E98E16375D815C77C7418FE4541E88B8B3D8F41BD10DD2CBEE8/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=LongTimeNoSee&amp;utm_content=unsubscribe&amp;utm_campaign=news" style="font-size:14px;color:#6e92af" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/unsubscribe/172C565E57FAC32A46CF6651FD4D7E98E16375D815C77C7418FE4541E88B8B3D8F41BD10DD2CBEE8/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DLongTimeNoSee%26utm_content%3Dunsubscribe%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527729000&amp;usg=AFQjCNFnVxCt7E4w7-TsTsl70YmqBuf9YA">Отписаться от рассылки</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
