
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailTemplate1</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0" width="100%" align="center">
        <tbody>
            <tr>
                <td style="background-color:#fff">

                    <table cellpadding="0" cellspacing="0" width="760" align="center">
                        <tbody>
                            <tr>
                                <td>

                                    <table cellpadding="0" cellspacing="0" width="100%" align="center">
                                        <tbody>
                                            <tr>

                                                <td style="padding-top:28px;padding-left:53px;padding-bottom:20px" align="center">
                                                    <a href="http://duways.com" target="_blank">
                                                        <img border="0" src="http://duways.com/Content/img/duwayslogo.png" width="142" height="44" alt="">
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="background-color:#fff">

                                                    <table cellpadding="0" cellspacing="0" width="100%">

                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:65px 70px 7px 70px">

                                                                    <h1 style="margin:0 10px 25px;font-size:36px;font-weight:normal;color:#000;line-height:40px;text-align:center">
                                                                        Здравствуйте, {newuser}!
                                                                    </h1>

                                                                    <table style="margin-bottom:30px;table-layout:fixed" cellpadding="0" cellspacing="0" width="100%" border="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:0 0 0 20px" width="179"><img src="http://duways.com/Content/img/AnnaK.jpg" width="179" height="179" alt="" ></td>
                                                                                <td style="padding:30px 0 0 20px">
                                                                                    <p style="font-size:16px;line-height:23px;margin-bottom:20px">
                                                                                        Меня зовут Анна Коломейцева, я&nbsp;основатель <a href="http://duways.com"><span class="il">DuWays</span></a>.
                                                                                        Хотела&nbsp;бы поделиться с вами&nbsp;тем, как <span class="il">DuWays</span> помогает экономить кучу времени и&nbsp;получить необходимые знания.
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <p style="font-size:16px;line-height:23px;margin:0 20px 20px">
                                                                        Наш проект - это&nbsp; информационная платформа, которая поможет вам получить информацию о том где и как можно получить высокооплачиваемую работу или открыть бизнес, выучить язык. С&nbsp;помощью <span class="il">DuWays</span> за&nbsp;15 минут в день можно освоить требуемые знания и навыки. Это очень круто!
                                                                    </p>
                                                                    <p style="font-size:16px;line-height:23px;margin:0 20px 20px">
                                                                        Еще у&nbsp;нас много отличных авторов, которые &nbsp;очень хотят&nbsp;присоединиться к проекту&nbsp;и опубликовать свои курсы&nbsp;на&nbsp;нашем портале. Их курсы скоро будут доступны на нашем сайте.
                                                                    </p>
                                                                    <p style="font-size:16px;line-height:23px;margin:0 20px 20px">
                                                                        Я&nbsp;радa, что вы&nbsp;присоединились к&nbsp;<span class="il">DuWays</span> и&nbsp;надеюсь, что наш сервис станет для вас одним из&nbsp;самых полезных открытий.
                                                                        Если вы&nbsp;захотите рассказать о&nbsp;своих впечатлениях, похвалить или поругать нас,
                                                                        можете связаться со&nbsp;мной лично любым удобным способом: в&nbsp;<a href="https://www.facebook.com/profile.php?id=100010710185047" style="color:#4099fb" target="_blank">Фейсбуке</a>,
                                                                        <a href="https://vk.com/anchetakolomeitseva" style="color:#4099fb" target="_blank">Вконтакте</a> или по&nbsp;почте <a href="mailto:anchetakolomeitceva@gmail.com" style="color:#4099fb" target="_blank">anchetakolomeitceva@@<span class="il">gmail</span>.com</a>.
                                                                    </p>
                                                                    <p style="font-size:16px;line-height:23px;margin:0 20px 37px">
                                                                        Добро пожаловать на&nbsp;<a href="http://duways.com" style="color:#4099fb" target="_blank"><span class="il">DuWays</span>.com</a>!
                                                                    </p>
                                                                    <p style="font-size:16px;line-height:23px;margin:0 20px 37px">
                                                                        Если это письмо пришло к вам по ошибке, просто проигнорируйте его, мы не будем вас больше беспокоить. Мы будем очень благодарны, если вы не отправите письмо в спам.
                                                                    </p>
                                                                    <p style="text-align:center;margin-bottom:28px">
                                                                        <a href="{dashboardlink}" style="display:inline-block;background-color:#7abb2f;border-radius:3px;margin-right:20px;height:62px;line-height:62px;padding:0 40px;color:#fff;text-decoration:none;font-size:25px;margin-bottom:15px" target="_blank">Перейти в личный кабинет</a>
                                                                    </p>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td style="border-top:1px solid #e2eefb;font-size:11px;padding-top:19px;padding-bottom:25px">
                                                                    @*<p style="text-align:center;margin-bottom:5px">
                                                                        <a href="https://youdo.com/verification?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromDen&amp;utm_content=verification&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/verification?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromDen%26utm_content%3Dverification%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNHXSF1lfoGvvOjTCdS9s-hsIXRpJw">Как стать исполнителем</a>
                                                                        <a href="https://youdo.com/Contacts?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromDen&amp;utm_content=contacts&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/Contacts?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromDen%26utm_content%3Dcontacts%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNHYBEBUBiO6peFijyO9XoXnLJf1bA">О нас</a>
                                                                        <a href="https://youdo.com/GeoTasksHint?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromDen&amp;utm_content=hint&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/GeoTasksHint?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromDen%26utm_content%3Dhint%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNHUJ6OZ-6jtr5fRz8NstvxKv7it-w">Как это работает</a>
                                                                        <a href="https://youdo.com/Faq?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromDen&amp;utm_content=faq&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/Faq?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromDen%26utm_content%3Dfaq%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNHYHpxeTFjXSMHiYK3wBk36oVeYJQ">Частые вопросы</a>
                                                                    </p>*@

                                                                    <p style="text-align:center;font-size:15px;line-height:27px;color:#555555;margin:0 0 20px 0">
                                                                        <span style="margin-left:25px">Email службы поддержки: </span> <a href="mailto:pavelkolom@gmail.com" style="text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank">pavelkolom@@<span class="il">gmail</span>.com</a>
                                                                    </p>

                                                                    @*<p style="text-align:center">
                                                                        <a href="http://www.facebook.com/youdocom" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.facebook.com/youdocom&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNF3Sn76J-crelxFAQp4SbqAaz0U-w"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.12&amp;permmsgid=msg-f:1618533808964711819&amp;th=16762fec844d358b&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9lm0w8qEQlxvF0TAbWyi_0I0GuLfWSj52M2gb8Z3hpXovEYsbe3rGk3Cly_ihsATfNoy5p39T-WR12Qwg32dOhD8BN-lCSeBoe6aLe2gCWJKpPQO_X8XEdAfY&amp;disp=emb" width="30" height="30" alt="Facebook" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://twitter.com/youdo" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://twitter.com/youdo&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNEA7xK3C10dIkPrVIqF7ab4IGrPiw"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.13&amp;permmsgid=msg-f:1618533808964711819&amp;th=16762fec844d358b&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9uSLgH9ujGW9Dn_nvGAjsuf0SACO0GrrzBNgA9kvp8Of7YLYo0r4fGaqDIFgpg5tV-h_RakNGUpMbJswpjdJYXr0GrTJ7Vdef_kBoaCg_g_gNlK6UcoOpPsyE&amp;disp=emb" width="30" height="30" alt="Twitter" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="https://plus.google.com/u/0/b/110555133905116125262/110555133905116125262/posts" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://plus.google.com/u/0/b/110555133905116125262/110555133905116125262/posts&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNEBKGhD3TfLirm-3rMnnnT7duVsrA"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.14&amp;permmsgid=msg-f:1618533808964711819&amp;th=16762fec844d358b&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_z_LR2vZqWGZm9uMOy0cnp3GMbQ9Om26UNclJxMziVuyHkwsp2L-9fsKaJhRxN0C8FKSyq3pHy1kHAazpVp_j-Yi6IrrRGyB229bb-vcb-MpLb12wp1XNo4xE&amp;disp=emb" width="30" height="30" alt="Google+" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://vk.com/youdocom" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://vk.com/youdocom&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNEH8dp3F-qyypms230e-NjMqucrtA"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.15&amp;permmsgid=msg-f:1618533808964711819&amp;th=16762fec844d358b&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ97_Ghu7h5Aw92AzRx_hxPjHPxTCQD1-UQT5L7ZFiWV06pt_uHJg-zb6dWLkEaA454ADExg3yM_QiSmDO-HdSxW9tSrsq2mq11WFaLapJQQd3ZrXwh1aHJZq_o&amp;disp=emb" width="30" height="30" alt="Вконтакте" align="" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://www.odnoklassniki.ru/group/54293833646097" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.odnoklassniki.ru/group/54293833646097&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNHba8BYBFS8L5DUnNIXaCxzWgblHw"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.16&amp;permmsgid=msg-f:1618533808964711819&amp;th=16762fec844d358b&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-65KSVxDdAMtPKjJ0O39Qv3vU7JHT9xUm2ToSTMS53HEoEvcHxH5xfEt3zxpxy_UobCYcrZvZ5662Q5eY7JiklJr_TPZEHf-j-hcQux4Qh7jg35_b1jB4UqLE&amp;disp=emb" width="30" height="30" alt="Одноклассники" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://youdocom.livejournal.com/" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://youdocom.livejournal.com/&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNH5jyh_hE81sjlHryZpTsj8kWBlKA"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.17&amp;permmsgid=msg-f:1618533808964711819&amp;th=16762fec844d358b&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8jNHrnzrv4afupoYuMsDRiINzxKPx_wAfcPgQ-CED5GCbWNXKF3ARDe2iznRxZ1gI0VpAWbI3DSAkiOW-_B1VuwE81W3n3olLKVmC_p77EDf4BA1oAFls1t88&amp;disp=emb" width="30" height="30" alt="Livejournal" data-image-whitelisted="" class="CToWUd"></a>
                                                                    </p>*@
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            @*<tr>
                                                <td style="padding:15px 10px" align="left" valign="top">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" width="160">
                                                                    <p style="font-size:14px;color:#6e92af;padding-top:0;padding-bottom:0;margin-bottom:0;margin-top:0">© 2012–2018 <span class="il">YouDo</span></p>
                                                                </td>
                                                                <td valign="top" style="text-align:right">
                                                                    <a href="https://youdo.com/profile/settings/notifications?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromDen&amp;utm_content=notificatoins&amp;utm_campaign=news" style="font-size:14px;color:#6e92af" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/profile/settings/notifications?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromDen%26utm_content%3Dnotificatoins%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNEfzAtgYTXXHrAyi8_Txh-8RJahaA">Настроить параметры рассылки</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <a href="https://youdo.com/unsubscribe/172C565E57FAC32A46CF6651FD4D7E98E16375D815C77C7418FE4541E88B8B3D8F41BD10DD2CBEE8/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromDen&amp;utm_content=unsubscribe&amp;utm_campaign=news" style="font-size:14px;color:#6e92af" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/unsubscribe/172C565E57FAC32A46CF6651FD4D7E98E16375D815C77C7418FE4541E88B8B3D8F41BD10DD2CBEE8/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromDen%26utm_content%3Dunsubscribe%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527752000&amp;usg=AFQjCNG8jIKhAdrCR1gdRAHwqK-87V0SZQ">Отписаться от рассылки</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>*@
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
