
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmailTemplate3</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0" width="100%" align="center">
        <tbody>
            <tr>
                <td style="background-color:#e3ebf1">

                    <table cellpadding="0" cellspacing="0" width="760" align="center">
                        <tbody>
                            <tr>
                                <td>

                                    <table cellpadding="0" cellspacing="0" width="100%" align="center">
                                        <tbody>
                                            <tr>

                                                <td style="padding-top:28px;padding-left:53px;padding-bottom:20px" align="left">
                                                    <a href="https://youdo.com?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=logo&amp;utm_campaign=news" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dlogo%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNHheSa-LMnJPGTjJk6wAY5J7KnJdQ">
                                                        <img class="m_-3454629816351638295il CToWUd" border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.1&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8XmzrXSmAPIBQUt1lsxr2IYnCztLqpXyVGzM-R-x7-90KvvgoJfKQTphDzwNxZgVaCaOpPY28qu6UWj9dlEqNlD2rAQrV7sjE6GbG0Ehbzt3DjzIInL6cSH8U&amp;disp=emb" width="142" height="44" alt="" data-image-whitelisted="">
                                                    </a>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="background-color:#fff">

                                                    <table cellpadding="0" cellspacing="0" width="100%">

                                                        <tbody>
                                                            <tr>
                                                                <td style="padding:65px 70px 7px 70px">

                                                                    <h1 style="margin:0 10px 25px;font-size:36px;font-weight:normal;color:#000;line-height:40px;text-align:center">
                                                                        Не забывайте про <span class="il">YouDo</span>
                                                                    </h1>

                                                                    <table style="margin-bottom:20px">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:0 20px 0 20px"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.2&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9JnTYdeamlZAa8OdxrImIgQaSL8Mp_bgd1j728Zsv1eERDjuY76GJu926oagr6BrslJJnvI3TCWLmuDE8l9w-QESbaquOusCq4G9YWxQZmP7lneD3-6dHOdPw&amp;disp=emb" width="178" height="178" alt="" data-image-whitelisted="" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 353.906px; top: 369.222px;"><div id=":1fx" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Проверка на вирусы…" role="button" tabindex="0" aria-label="Скачать файл abb24f74-dfdc-49a3-93a0-661331cb60e1.png" data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div><div id=":1fy" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Сохранить на Диске" role="button" tabindex="0" aria-label="Сохранить файл abb24f74-dfdc-49a3-93a0-661331cb60e1.png на Диске" data-tooltip-class="a1V"><div class="wtScjd aQu J-J5-Ji aYr"><div class="T-aT4"><div></div><div class="T-aT4-JX"></div></div></div></div></div></td>
                                                                                <td style="padding:30px 30px 0 0;vertical-align:top">
                                                                                    <p style="font-size:16px;line-height:23px;margin-bottom:20px">
                                                                                        Здравствуйте, Pavel!<br>
                                                                                        Меня зовут Ксения Зиновьева, я&nbsp;руководитель отдела верификации <a href="https://youdo.com/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=link1&amp;utm_campaign=news" style="color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dlink1%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNGGsg3-vjH4ilkCDV_Nn0O94WV7Ng"><span class="il">YouDo</span></a>. И&nbsp;именно через мои руки проходят почти все исполнители сервиса.
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <p style="font-size:16px;line-height:23px;margin:0 20px 20px">
                                                                        Поэтому мне очень приятно, когда я&nbsp;вижу, что наши
                                                                        проверенные пользователи справляются не&nbsp;только с&nbsp;простыми, но&nbsp;и&nbsp;с&nbsp;практически невыполнимыми
                                                                        заданиями. Например, подготовить <a href="https://youdo.com/t80163?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=link2&amp;utm_campaign=news" style="color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/t80163?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dlink2%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNE7wS83QyMs3RE4vQcWNTqhSBve8w">репортаж о&nbsp;космодроме</a>
                                                                        во&nbsp;Французской Гвиане, привезти <a href="https://youdo.com/t22004?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=link3&amp;utm_campaign=news" style="color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/t22004?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dlink3%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNFRlnQK-mU38mxjEfGew2UTr-9EpQ">чемодан из&nbsp;<u></u>Нью-Йорка<u></u></a>
                                                                        или <a href="https://youdo.com/t75458?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=link4&amp;utm_campaign=news" style="color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/t75458?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dlink4%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNFgSfBxzUFY2Ieisuhd_e-pb_xwQA">пошпионить</a> за&nbsp;возлюбленным.
                                                                    </p>
                                                                    <p style="font-size:16px;line-height:23px;margin:0 20px 20px">
                                                                        Если у&nbsp;вас есть необычные задачи, поручите
                                                                        их&nbsp;нашим исполнителям.  Они точно смогут вам помочь.
                                                                    </p>
                                                                    <p style="text-align:center"><a href="https://youdo.com/tasks/new?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=btn1&amp;utm_campaign=news" style="display:inline-block;background-color:#7abb2f;height:62px;line-height:62px;padding:0 40px;color:#fff;text-decoration:none;font-size:25px;margin-bottom:15px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tasks/new?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dbtn1%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNGdog3HJQGr_kOoy4qL0OrLcSG6hQ">Создать свое задание</a></p>
                                                                    <p style="text-align:center;font-size:24px;margin-bottom:10px">А чаще все пользователи заказывают на <span class="il">YouDo</span>:</p>
                                                                    <table cellspacing="20" cellpadding="0" style="margin-bottom:30px;border-collapse:initial">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:320px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9j31q0JTP47zq6Fh0e2lPmz8FPQi0VKDY4rYuqbc5-GzihrGdad0WaGgjpE9IptaKQpLa6HrEWLUiX7ZsIiv_rul5jXY6n02MMKo6VWQJ_Frmjok0n15U2oKE&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td>
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.4&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8vvZ3JQ3wkvknKmSFF9cA-yOoWW3Ahd3FrLCipUUrzzOq4sCjV_qKJKfOPIUVVe1BwtKaHLqD5ppR85XvGVPbPiwYKi_hkju3cEr1wjbATawAFOARgPoX_T7c&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 12px 5px">
                                                                                                        <span style="text-decoration:none;color:#4099fb">Ремонт цифровой техники — </span> от&nbsp;1000 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 12px">Поменять экран на смартфоне, отремонтировать фотоаппарат</p>
                                                                                                    <p style="text-align:center"><a href="https://youdo.com/tasks/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=category1&amp;utm_campaign=news" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tasks/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dcategory1%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNFf9nF-7vJ6V2cgvFkSCvBYGdncJA"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9ABXBWpXH6Fje5YM-ejRJur9yjp9zyrvB97D1RROWf3i8fo8JYY1UnCRdINORSKHY_Cv_2ZNXCck1h4pa2joOsIBs3oiNEP_pDNX1qe9mHTyDMaCP6ceJ_KKY&amp;disp=emb" width="179" height="27px" data-image-whitelisted="" class="CToWUd"></a></p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-c4CXmL2P46c4yFu9OJ1dYbBk-Apsr8kGjDW2YSbMNdlArDIHGBtnZ7tf369p9KMH5zxoxcNQIK5i-PKRKoNbrCUM80Q4fce2IdOi8_PKe5g0zMClKfI3_orQ&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.7&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8j9-ZOkUyE27S55VjNyqk_jHFISgCQtjIfIA1T3p0sjUt2AXiysAcrzQwPDOGhz0rhIl0L9zcp3ZqMomD_o3_l2Qe7vZ57UuF6HPEl8CG2MBsNCYgbzkCnBUs&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:320px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8PGit7uZtO7wLJft6F-sIwmaH5bGhgxk69XC4vmWCsgWNJwj_g0Xr9d63cpNAdZGLkMjALGuvl8PFV1IwAJul6SlIe5fP_kvLmvYJx70LuDxDciJZdRfyRQw4&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td>
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.8&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_ZzAckVPo26W4it3eyxnA5y2NN18rpwlCx5OW3KatF9mfcvOvA2sBWaGeTumqqecjUDQBtD26kG2uhTgsWCbRSHtMTTwcyDAakYRepYenjx1vXeYdAX-LcoXU&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 12px 5px">
                                                                                                        <span style="text-decoration:none;color:#4099fb">Интернет и дизайн — </span> от&nbsp;600 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 12px">Нарисовать логотип, сверстать рассылку, создать сайт-визитку</p>
                                                                                                    <p style="text-align:center"><a href="https://youdo.com/tasks/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=category2&amp;utm_campaign=news" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tasks/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dcategory2%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNGNXEt20-DGQZCerAedPdJjKMd89Q"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_EAwYmQ1d7vZVDbQDVtSS-cAmj5yAoHSiGahhEKRFoCwaSOVbGZYOr_b_jZq4VZkCfSJH6TCzZy-MuLeGt-SjW--NEljCoNJ5c__0lSkpV5aL4YYWBtAQKVA8&amp;disp=emb" width="179" height="27px" data-image-whitelisted="" class="CToWUd"></a></p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-PVns6PH5IOSLxbPeH7LvWHTxG7y-Yqucm3MDbA_3jjEST5tsbfV0dgNxA8lEaMlZzxno6YXw7B2xFSFFfJGdOYFe1Bc48zEXVn7qgqukB8TXdkN1vxJXLVp0&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.7&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8w3tXVqdqsnrBufsXdQq6tQ3z1WHtXSOrTOo-4fAl6e_HDkQDwxnh0FlabC9uif_gd_bDiJtNsOmTA7-EyJXwUsFzneXExYngEY15ENB765tcUiAFFazaGzWU&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:320px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-CCs6hqck6kuuhUbupJv9kk8oQUG7RI_Zd_byKvmfxEzWtCNyADwu3gDHijenRKbBez4e-bnOQoMUJQZzG95xINkHUXVfLWpvjkBSqOXBUbNHyHO9Cl24VLZk&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td>
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.9&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8PMGA49uI9A_BFw6wZu6RpesfAttSLXVvEtOBS3p4fvSmEVgLD-VmQQwkmDC1jgT6iB72eTaiZdEEH-ZZUXaFPybh6R2I7wvPhK13ht8HC6RcE1qXL_Kowaj0&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 12px 5px">
                                                                                                        <span style="text-decoration:none;color:#4099fb">Юридическая помощь — </span> от&nbsp;500 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 12px">Составить договор, сопроводить сделку, помочь в ДТП</p>
                                                                                                    <p style="text-align:center"><a href="https://youdo.com/tasks/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=category3&amp;utm_campaign=news" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tasks/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dcategory3%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNG8Ky6v0VpBNPjGYHe0LedY3Rvytw"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_N3yFNWJq7vBwvGFEkPVeG7sQqZ2fWuzm4EG71nS7SBqkyox-lCCsT2OFNAodU3lKaUXwYd8qzcDWK7Y6lflgZ6bX32gTGKk5JNAQxF481lR8tlT5xiS6T4YQ&amp;disp=emb" width="179" height="27px" data-image-whitelisted="" class="CToWUd"></a></p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9Opok6s10ggM_VpH2aMRaqmtQpShO8EU4re86FE5vo-AknXa_KARV1NzBD0jUIFQ5N-JMFzuOq3nDDHEGabii3uRSfjvV8hdgEJsm3IhDovj7DbTdAT4Kz4zQ&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.7&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8Q-k8PinWzDUP6oUMWttki4Ln84RQeq-2WnqWbv9qZzPiboqLH7jtt8UlE6B8pPGIo9_hkl2MijHJwHgGk1hcAQPBpj32VPZCvSnzoP3MuWQI4uAKHP1zRm5o&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:320px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-ejWWiLr4BLezPxwoMpSI2gDVfTpENP-C7uLjWWUe1OLjtGNNhOwn8Xo5SDa3fY5DLOt96M88Vn66xaZskiOdM9bmBbXo-Otm2Shg7A6FbH4tsM3ZB68V1Vk8&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td>
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.10&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8zuupC1GvokJD5dwE-MMSxhqqJby30DcWz89ToGb0bHZPTdIVwwqjqPNCiC93gVxAxxRiCn58dj_3JmqVdt7q4m6ozVlypxTaRbPTzBjhSxIPcJObNc06TCy4&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 12px 5px">
                                                                                                        <span style="text-decoration:none;color:#4099fb">Курьерские услуги — </span> от&nbsp;390 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 12px">Отвезти документы, доставить товар, привезти ключи</p>
                                                                                                    <p style="text-align:center"><a href="https://youdo.com/tasks/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=category4&amp;utm_campaign=news" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tasks/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dcategory4%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNFPNb4QNY1TsCgidDJhkRI6_2ZqKg"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_LaGXryYJ-x3UY6uYNcC_kOwFQy_RUto4UG46EGAvedY77cir1XgiU3lR_Oyw1fPZE7VPHdN96GrajaFEpSi2vkGc8Ofpmr_AI9kSqzr9vAKkbtah6bYfS7_Y&amp;disp=emb" width="179" height="27px" data-image-whitelisted="" class="CToWUd"></a></p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_d0vLhUXgHIBndogb9S1YTZplIJYNZ9Ia8AJVZnMrGpmDTp3VIqs_p_2EId1GgbAoezzoIjy2mNGY2aW_OkbpXsHJ6jBKaJFIFa0ekumoX2hkr3tklu5seEnI&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.7&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9u-4NPPJMmXOpuiVmBUCTdGOL3s7DNkl2Z64Q4uNMqNBGeK5FY_doSKPUtTkFzvJnqecUtxKinIkT8b9-VWMbvLKdnMRYzoJKQQt2mhzU7Co1il71Ju5qe77g&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:320px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-VJyHzsJ_Zq5gNKbt9tX4Floucq0YGAsjW8YyjBUEBvi1MzokKQ5z9uqAvyzBiWLKWdrPgPqvj7MJJHUDdj8f6Uyw91gbWXKuQrM5Jj0Nx8PAv4nxkit6sP5g&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td>
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.11&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8e-SYzeBRoqE8HV1OafAkAFVq55Fdz_zbjo5zACk5vFL-zF2UuulJLKQDhpFBLAlKstGC2ehyeTkATM0CEJxSJC0puWsDnt65esRLIe3tCKZiOi1pTzDPVWRk&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 12px 5px">
                                                                                                        <span style="text-decoration:none;color:#4099fb">Компьютерная помощь — </span> от&nbsp;800 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 12px">Переустановить ОС, удалить вирусы, починить ноутбук</p>
                                                                                                    <p style="text-align:center"><a href="https://youdo.com/tasks/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=category5&amp;utm_campaign=news" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tasks/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dcategory5%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNHw3UMujbdyroA6NwqdrNEPDrgsLQ"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9voNyrBWHL0Lwq6ezVW4rmNvdiuc0NmlOIW8khAN55ZSeNj2RAQ_sRejy4TM5e17E4nwbp90-PxXm-Qx775MuhsYpdClrnSwIG5vpAefqvUaiwF4LBY_TksSQ&amp;disp=emb" width="179" height="27px" data-image-whitelisted="" class="CToWUd"></a></p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8Q_-nTZIP9i--ZQNBYXqr6sIwMX7OQBsx4VMcNB4F09ymxmyKN1z2nQuOCesu7ifJQolfj3MlgoyMP01Ldx1FqlT66OZuYlvo-yrYzNgYo9MCDpfKZ0HpzuxQ&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.7&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-Xhl-4ewVvQSdM91yffgg4C90Hgg42vROlQM9wc-KlyWCZQHzjZZZ24AYdZpS7PvCgHW2ULHezb7h0Twp_lcKvsRUQJVnGZKuGzkBLl_MlRi425flPGwvD-90&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                                <td>
                                                                                    <table width="281" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="width:3px;height:320px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.3&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_3gHpQ6mq50Ctan01gpV8Xlqhs9_fVSge7Fl90H2BnxQut3d9FNzy0D7FgcmYODqr8eOSatDjz0ITzxFnWsB6D_WvHzTvmfTLBRNoUyp4HMSy1Kx5QJGQYOjc&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                                <td>
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.12&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_VlUTn_wmH1yAA7YhQ8z-HGHkWxyfIX48JresAr8c7OaHFZ_2dtvxTLEKnl4glIu1HcxSY6Cltk6s_oRhunR2h4qXqf74SHVT7PWyzo6-aWERYP8Lrp_pk8BE&amp;disp=emb" width="275" height="151" data-image-whitelisted="" class="CToWUd">

                                                                                                    <p style="font-size:20px;line-height:26px;color:#6cad21;margin:10px 12px 5px">
                                                                                                        <span style="text-decoration:none;color:#4099fb">Уборка и помощь по хозяйству — </span> от&nbsp;1100 руб.
                                                                                                    </p>

                                                                                                    <p style="font-size:15px;line-height:21px;color:#7f7f7f;margin:0 12px">Сделать уборку, помыть окна, приготовить ужин</p>
                                                                                                    <p style="text-align:center"><a href="https://youdo.com/tasks/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=category6&amp;utm_campaign=news" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/tasks/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dcategory6%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNEsinWhszsuOmWtBd5jICDjMBZm9Q"><img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.5&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8nwnecbNr5z9X_ga3BCjOItKc546z5tMRN_b8HIJbOKxn-hUHN9_2jmtf42Phpxjc1IlLYSlSML8xzuvlNu_6mdbDt0KtFNCPPKVFmY_988Eo3qi3RNdA2lZc&amp;disp=emb" width="179" height="27px" data-image-whitelisted="" class="CToWUd"></a></p>
                                                                                                </td>
                                                                                                <td style="width:3px;height:300px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.6&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-mrJg9pEE7KmSLLT_eNK8saqKDcgTMKASoJEtR7gLBo-fVuEY1vEXiTzwQ219-jfhXFmKjs92aerTLtJ2cjzqdtcPSjzItG0cMEXsohr3mMUaE-h2KfhwR9wc&amp;disp=emb" width="3" height="320" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td colspan="3" style="line-height:0;height:5px">
                                                                                                    <img src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.7&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_Kslos86YV-KMqB2FrCgi8FhtbCjkRUFZRaukUFxrYM_USphu-841mbWs-JJiaSRYsC9WmiL489oIwsG-_kH7ewAiL5mquZWS-1dlRo1Q5RNqNAhWLQUcnKbw&amp;disp=emb" width="281" height="5" alt="" data-image-whitelisted="" class="CToWUd">
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>


                                                                    <p style="margin:0 10px 60px 10px;text-align:center">
                                                                        <a href="https://youdo.com/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=btn2&amp;utm_campaign=news" style="display:inline-block;background-color:#7abb2f;height:62px;line-height:62px;padding:0 40px;color:#fff;text-decoration:none;font-size:25px;margin-bottom:15px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dbtn2%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNHV6NzGp7lxOPjmUN0lR6dabfQFmg">Перейти на сайт</a>
                                                                    </p>

                                                                </td>
                                                            </tr>


                                                            <tr>
                                                                <td style="border-top:1px solid #e2eefb;font-size:11px;padding-top:19px;padding-bottom:25px">
                                                                    <p style="text-align:center;margin-bottom:5px">
                                                                        <a href="https://youdo.com/Contacts?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=contacts&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/Contacts?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dcontacts%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNFO5AeSXlZxt8IJ0xAtZydFFDsOeA">О нас</a>
                                                                        <a href="https://youdo.com/GeoTasksHint?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=hint&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/GeoTasksHint?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dhint%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527342000&amp;usg=AFQjCNHtZwCmF3hPyldr2qPB6ESoOIIvYw">Как это работает</a>
                                                                        <a href="https://youdo.com/Faq?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=faq&amp;utm_campaign=news" style="margin:0 15px;font-size:15px;line-height:27px;text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/Faq?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dfaq%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527343000&amp;usg=AFQjCNEsuAS4YesLOh9ANRdJ5-hSU3TZqg">Частые вопросы</a>
                                                                    </p>

                                                                    <p style="text-align:center;font-size:15px;line-height:27px;color:#6e92af;margin:0 0 20px 0">
                                                                        Служба поддержки в России: 8 (800) 511 55 62 <br><span style="margin-left:25px">Email: </span> <a href="mailto:privet@youdo.com" style="text-decoration:underline;font-family:arial,sans-serif;color:#4099fb" target="_blank">privet<span class="il">youdo</span>.com</a>
                                                                    </p>

                                                                    <p style="text-align:center">
                                                                        <a href="http://www.facebook.com/youdocom" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.facebook.com/youdocom&amp;source=gmail&amp;ust=1549287527343000&amp;usg=AFQjCNHN7jgO5HPAh7JW2emjvgtmDEZ-MQ"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.13&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8JFlgQvX7NoJBpllpcVPrsw5JR1r0z5Zndfj1H91FHkDAqdISmU3yPs-Dq3kaqptWjVJKsm9KeAqBzEi5PJQSUHls12tHteBBTmyqA0bhxRwq3ONFjAwq3MXA&amp;disp=emb" width="30" height="30" alt="Facebook" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://twitter.com/youdo" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://twitter.com/youdo&amp;source=gmail&amp;ust=1549287527343000&amp;usg=AFQjCNGN1G99Iuz_o320HgSg3xliaTDWvA"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.14&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9HY04raRkOY4FBCsWOyEl6aK939t0hEJtAwzAfZM69eOJzHSh-1xml9m_MTI0lAxXJnz7IQzATA2S1LdQC6bf_ERIXvBtpsb4Mi8cERcp-ePX8NPEEWpzrCng&amp;disp=emb" width="30" height="30" alt="Twitter" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="https://plus.google.com/u/0/b/110555133905116125262/110555133905116125262/posts" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://plus.google.com/u/0/b/110555133905116125262/110555133905116125262/posts&amp;source=gmail&amp;ust=1549287527343000&amp;usg=AFQjCNESpKl5jUMKDAM2m5--AOOCECc0PQ"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.15&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ8e9gGTiRyKR6CCpe1nd6X_6AeUWSYMy7J6NJwyUznYU4gqU0OL_daFf2PwuQXM_hL7E7QCOp9xo1-77oLUE-XkyESUqRxzDlM-vTr5KuQAT3K_9NG3Jdtpss8&amp;disp=emb" width="30" height="30" alt="Google+" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://vk.com/youdocom" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://vk.com/youdocom&amp;source=gmail&amp;ust=1549287527343000&amp;usg=AFQjCNFEBgfAuTyL6pX_PPcW7l7kmcY1CA"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.16&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9mxmLVE_a7bp6Dg8GHwQLmxypeNqwvSGfbQXUjUrB6tYcwrW-Df1QFaNxHiWlwRd72wIthZQZhcBlW_huLEz8l6Mp0_3ymqKpCkbHDkGOygxkbv1d8t9LTB5Y&amp;disp=emb" width="30" height="30" alt="Вконтакте" align="" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://www.odnoklassniki.ru/group/54293833646097" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://www.odnoklassniki.ru/group/54293833646097&amp;source=gmail&amp;ust=1549287527343000&amp;usg=AFQjCNH0xEVuELY3_k-acSGvLCwTTlfihA"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.17&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ81lpPHjqwl5jiMZyesX75dQ5pWXZzED87kl7-pPC0pkQjpOs3n95oPBeC48w5__MmkGCFyEor1Ms2n3Nw1mCk9cfzfIvleFnff9o4eABA7VaWn9-y-Eo6IwFU&amp;disp=emb" width="30" height="30" alt="Одноклассники" data-image-whitelisted="" class="CToWUd"></a>
                                                                        <a href="http://youdocom.livejournal.com/" style="margin:0 3px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://youdocom.livejournal.com/&amp;source=gmail&amp;ust=1549287527343000&amp;usg=AFQjCNEDLorb-fM2Cg6123jicYBFhMPj2A"><img border="0" src="https://mail.google.com/mail/u/0?ui=2&amp;ik=2ef4509c32&amp;attid=0.18&amp;permmsgid=msg-f:1622338903277174495&amp;th=1683b4a31321fedf&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ_s_1EwnFxVmreup43xuSi-CPE1ycRw2DmKjF-2C8SLzKMNRPB5EFJj_hoWzL-TKwS46L2RMAm4Rv1BncWORLNY9UTPrMQZJtSCqkRMgj191EyWRiTFAAAGAGA&amp;disp=emb" width="30" height="30" alt="Livejournal" data-image-whitelisted="" class="CToWUd"></a>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="padding:15px 0 15px 53px" align="left" valign="top">
                                                    <table cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top" width="160">
                                                                    <p style="font-size:14px;color:#6e92af;padding-top:0;padding-bottom:0;margin-bottom:0;margin-top:0">© 2012–2019 <span class="il">YouDo</span></p>
                                                                </td>
                                                                <td valign="top">
                                                                    <a href="https://youdo.com/profile/settings/notifications?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=notificatoins&amp;utm_campaign=news" style="font-size:14px;color:#6e92af" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/profile/settings/notifications?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dnotificatoins%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527343000&amp;usg=AFQjCNFIGX2SVSEbWKEAZMCDmp9dpff6hA">Настроить параметры рассылки</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    <a href="https://youdo.com/unsubscribe/172C565E57FAC32A46CF6651FD4D7E98E16375D815C77C7418FE4541E88B8B3D8F41BD10DD2CBEE8/?utm_source=newsletter&amp;utm_medium=email&amp;utm_term=FromKsu&amp;utm_content=unsubscribe&amp;utm_campaign=news" style="font-size:14px;color:#6e92af" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://youdo.com/unsubscribe/172C565E57FAC32A46CF6651FD4D7E98E16375D815C77C7418FE4541E88B8B3D8F41BD10DD2CBEE8/?utm_source%3Dnewsletter%26utm_medium%3Demail%26utm_term%3DFromKsu%26utm_content%3Dunsubscribe%26utm_campaign%3Dnews&amp;source=gmail&amp;ust=1549287527343000&amp;usg=AFQjCNEZvzydJ8NhWNtc26WLv_kNN3b1RA">Отписаться от рассылки</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
