
@{
    ViewBag.Title = "Policy";
}

<div class="page-header header-filter header-small" filter-color="purple" data-parallax="true" style="background-image: url('../../Content/img/bg10.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2><b>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</b></h2>
                @*<h6><i>Человек устроен так, что, когда что-то зажигает его душу, всё становится возможным. Жан де Лафонтен</i></h6>*@
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="subscribe-line">
        <div class="container">
            <h1>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>
            <h2><br /> 1. Основные термины и определения</h2>
            <ul>
                <li><strong>Пользователь</strong> &mdash; дееспособное физическое лицо, присоединившееся к настоящему соглашению в собственном интересе.</li>
                <li><strong>Сайт</strong> &mdash; интернет-сайты, размещенные в&nbsp;доменах duways.ru и duways.com и&nbsp;их поддоменах.</li>
                <li><strong>Сервис</strong> &mdash; комплекс услуг, предоставляемые Пользователю с&nbsp;использованием школы <strong>Duways</strong> (далее&nbsp;&mdash; <strong>Школа</strong>).</li>
                <li><strong>Соглашение</strong> &mdash; настоящее соглашение со&nbsp;всеми дополнениями и&nbsp;изменениями.</li>
            </ul>
            <h2>2. Политика</h2>
            <p>Настоящая Политика конфиденциальности персональных данных (далее&nbsp;&mdash; <strong>Политика</strong>) действует в&nbsp;отношении всей информации, которую <strong>Школа</strong>), расположенная на&nbsp;доменных именах <u><a href="http://www.duways.com">www.duways.com</a></u>&nbsp;и <u><a href="http://www.duways.ru">www.duways.ru</a></u>, может получить о&nbsp;<strong>Пользователе</strong> во&nbsp;время использования <strong>Сайта</strong>, программ и&nbsp;продуктов <strong>Школы</strong>.</p>
            <p>Используя <strong>Сайт</strong>, <strong>Пользователь</strong> выражает свое полное согласие на&nbsp;сбор, обработку и&nbsp;использование своих персональных данных. Если <strong>Пользователь</strong> не&nbsp;согласен с&nbsp;условиями настоящей <strong>Политики</strong>, он&nbsp;обязуется прекратить использовать <strong>Сайт</strong>.</p>
            <h2>3. Сбор и&nbsp;обработка персональных данных</h2>
            <p>Администрация собирает и&nbsp;обрабатывает следующие персональные данные пользователя:</p>
            <ul>
                <li>имя и Фамилия;</li>
                <li>адрес электронной почты (e-mail);</li>
                <li>IP-адрес;</li>
                <li>информацию, содержащуюся в файлах cookies;</li>
                <li>другую информацию.</li>
            </ul>
            <p><strong>Школа</strong> максимально защищает личные данные пользователя и&nbsp;применяет современные технологии для осуществления безопасного хранения информации на&nbsp;сколько это возможно. <strong>Школа</strong> не&nbsp;продает и&nbsp;не&nbsp;передает данные пользователя третьим лицам без согласия самого <strong>Пользователя</strong> за&nbsp;исключением случаев, предусмотренных законодательством Российской Федерации.</p>
            <h2>4. Использование персональных данных</h2>
            <p><strong>Школа</strong> может использовать персональные данные в&nbsp;следующих случаях:</p>
            <ul>
                <li>для идентификации <strong>Пользователя</strong>;</li>
                <li>для предоставления услуг <strong>Пользователю</strong>;</li>
                <li>для обработки платежей <strong>Пользователя</strong>;</li>
                <li>для отправки рекламных иинформационных материалов по&nbsp;электронной почте;</li>
                <li>для обработки запросов <strong>Пользователя</strong>;</li>
                <li>для улучшения качества сервиса ипроизводимых материалов;</li>
                <li>для внутренней отчетности.</li>
            </ul>
            <h2>5. Изменения персональных данных</h2>
            <p><strong>Пользователь</strong> имеет возможность изменить персональные данные в&nbsp;личном кабинете. Пользователь гарантирует, что предоставляемые данные являются достоверными и&nbsp;не&nbsp;относятся к&nbsp;данным третьих лиц.</p>
            <h2>6. Ограничение ответственности</h2>
            <p><strong>Школа</strong> делает все возможное для соблюдения настоящей <strong>Политики</strong>, однако, мы&nbsp;не&nbsp;можем гарантировать сохранность информации в&nbsp;случае воздействия факторов находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. <strong>Сайт</strong>&nbsp;и&nbsp;вся размещенная на&nbsp;нем информация представлены по&nbsp;принципу &laquo;как есть&raquo; без каких-либо гарантий. Мы&nbsp;не&nbsp;несем ответственности за&nbsp;неблагоприятные последствия, а&nbsp;также за&nbsp;любые убытки, причиненные вследствие ограничения доступа к&nbsp;сайту URL или вследствие посещения <strong>Сайта</strong> и&nbsp;использования размещенной на&nbsp;нем информации.</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
